Options -Indexes -MultiViews
DirectoryIndex index.html

RewriteEngine On
RewriteBase /form2/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]

<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set Referrer-Policy "strict-origin-when-cross-origin"
  Header set X-Robots-Tag "noindex, nofollow"
</IfModule>
